<%- include("header.ejs") %>
<h1 class="glow">Player Not Found. Please Try Again.</h1>
<h1 class="glow">Hint</h1>
<h2 class="glow">Players Must Be Currently Playing.</h2>
<h2 class="glow">Make Sure Your Spelling is Correct.</h2>
<h2 class="glow">Include All Punctuation in Players' Name.</h2>

<form action="/" method="get">
    <button class="playAgain" type="submit">Go Back</button>
</form>

<%- include("footer.ejs") %>

